body {
margin: 0;
padding: 0;
background: linear-gradient(180deg, #000000, #8b0000, #ff0000);
font-family: 'Signika Negative', sans-serif;
color: #fff;
}

.container {
text-align: center;
padding: 40px 20px;
max-width: 1100px;
margin: auto;
}

.logo img {
width: 130px;
height: 130px;
object-fit: contain;
padding: 12px;
border-radius: 16px;
border: 3px solid #b60000;
box-shadow: 0 0 15px #000;
transition: 0.3s;
margin-bottom: 20px;
}

.logo img:hover {
transform: scale(1.08);
}

h1 {
color: #ffd000;
font-size: 44px;
margin: 10px 0 12px 0;
text-shadow: 3px 3px 6px #000;
letter-spacing: 1px;
}

p.subtitulo {
font-size: 21px;
max-width: 850px;
margin: 0 auto 35px auto;
line-height: 1.6;
opacity: 0.95;
}

h2 {
margin-top: 55px;
font-size: 36px;
color: #ffcc00;
text-shadow: 2px 2px 5px #000;
margin-bottom: 25px;
}

.btn {
display: inline-block;
padding: 15px 32px;
background: #000;
color: #ffd000;
font-size: 22px;
font-weight: bold;
border-radius: 14px;
text-decoration: none;
border: 2px solid #ffd000;
transition: 0.3s;
}

.btn:hover {
background: #ffd000;
color: #000;
transform: scale(1.06);
}

.menu-grid {
margin-top: 35px;
display: flex;
justify-content: center;
gap: 28px;
flex-wrap: nowrap;
}

.menu-item {
background: #ffffff;
border-radius: 16px;
padding: 28px;
text-align: center;
color: #000;
border: 4px solid #5d0000;
box-shadow: 0 0 12px rgba(0,0,0,0.35);
transition: 0.35s ease;
width: 260px;
min-height: 230px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 15px;
}

.menu-item:hover {
transform: translateY(-8px) scale(1.02);
box-shadow: 0 0 18px rgba(0,0,0,0.55);
border-color: #a00000;
}

.menu-item h3 {
font-size: 23px;
margin-bottom: 15px;
color: #b60000;
}

.menu-item a {
background-color: #b60000;
color: #fff;
padding: 12px 22px;
border-radius: 10px;
display: inline-block;
font-weight: bold;
text-decoration: none;
transition: 0.3s;
margin-top: 10px;
}

.menu-item a:hover {
background-color: #000;
color: #ffd000;
transform: scale(1.05);
}

footer {
margin-top: 60px;
padding-bottom: 25px;
font-size: 16px;
opacity: 0.9;
line-height: 1.5;
}
