@page {
size: landscape;
}

body {
margin: 0;
padding: 0;
background: #7a0000;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
padding-top: 30px;
}

.container {
width: 95%;
max-width: 1100px;
background: #ffffff;
color: #000;
padding: 40px;
border-radius: 14px;
box-shadow: 0 0 18px rgba(0,0,0,0.40);
border-top: 6px solid #b60000;

display: grid;
grid-template-columns: 1fr 1fr;
gap: 40px;
}

h1 {
grid-column: span 2;
text-align: center;
color: #b60000;
margin-bottom: 20px;
font-size: 32px;
font-weight: bold;
}

label {
margin-top: 15px;
display: block;
font-weight: bold;
font-size: 17px;
color: #333;
}

input {
width: 100%;
padding: 12px;
border-radius: 8px;
border: 1px solid #b60000;
font-size: 16px;
margin-top: 5px;
background: #fff8f8;
box-sizing: border-box;
}

.btn-add {
grid-column: span 2;
padding: 14px;
border-radius: 10px;
border: 2px solid #000;
background: #b60000;
color: #fff;
font-size: 20px;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
margin-top: 20px;
}

.btn-add:hover {
background: #000;
color: #ffd000;
transform: scale(1.05);
}

h2 {
grid-column: span 2;
margin-top: 20px;
font-size: 24px;
color: #b60000;
font-weight: bold;
}

.lista {
grid-column: span 2;
margin-top: 10px;
background: #fff7f7;
border: 2px solid #b60000;
border-radius: 10px;
padding: 15px;
max-height: 300px;
overflow-y: auto;
}

.item {
padding: 12px 8px;
border-bottom: 1px solid #9f2727;
font-size: 18px;
}

.item:last-child {
border-bottom: none;
}

.voltar {
grid-column: span 2;
display: block;
margin-top: 25px;
text-align: center;
background: #000;
color: #ffd000;
padding: 15px;
border-radius: 10px;
text-decoration: none;
font-weight: bold;
border: 2px solid #ffd000;
transition: 0.3s;
font-size: 19px;
}

.voltar:hover {
background: #ffd000;
color: #000;
transform: scale(1.05);
}
